<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

-   Extract information from a given web site 
-   Write the scraped data into a csv file.

## Extract information from the given web site

You will extract the data from the below web site: <br>

In [21]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [22]:
# Your code here
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

Download the webpage at the url

In [23]:
#your code goes here
data  = requests.get(url).text

In [24]:
print(data)

<!doctype html>
<html lang="en">
<head>
<title>
Salary survey results of programming languages
</title>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>

<body>
<hr />
<h2>Popular Programming Languages</h2>
<hr />
<p>Finding out which is the best language is a tough task. A programming language is created to solve a specific problem. A language which is good for task A may not be able to properly handle task B. Comparing programming language is never easy. What we can do, however, is find which is popular in the industry.</p>
<p>There are many ways to find the popularity of a programming languages. Counting the number of google searchs for each language is a simple way to find the popularity. GitHub and StackOverflow also can give some good pointers.</p>
<p>Salary surveys are a way to find out the programmings languages that are most in demand in the industry. Below table is the result of one such survey. When using any survey keep in mind that the results vary year on year.</p>
<hr />
<table>
<tbody>
<tr>
<td>No.</td>
<td>Language</td>
<td>Created By</td>
<td>Average Annual Salary</td>
<td>Learning Difficulty</td>
</tr>
<tr>
<td>1</td>
<td>Python</td>
<td>Guido van Rossum</td>
<td>$114,383</td>
<td>Easy</td>
</tr>
<tr>
<td>2</td>
<td>Java</td>
<td>James Gosling</td>
<td>$101,013</td>
<td>Easy</td>
</tr>
<tr>
<td>3</td>
<td>R</td>
<td>Robert Gentleman, Ross Ihaka</td>
<td>$92,037</td>
<td>Hard</td>
</tr>
<tr>
<td>4</td>
<td>Javascript</td>
<td>Netscape</td>
<td>$110,981</td>
<td>Easy</td>
</tr>
<tr>
<td>5</td>
<td>Swift</td>
<td>Apple</td>
<td>$130,801</td>
<td>Easy</td>
</tr>
<tr>
<td>6</td>
<td>C++</td>
<td>Bjarne Stroustrup</td>
<td>$113,865</td>
<td>Hard</td>
</tr>
<tr>
<td>7</td>
<td>C#</td>
<td>Microsoft</td>
<td>$88,726</td>
<td>Hard</td>
</tr>
<tr>
<td>8</td>
<td>PHP</td>
<td>Rasmus Lerdorf</td>
<td>$84,727</td>
<td>Easy</td>
</tr>
<tr>
<td>9</td>
<td>SQL</td>
<td>Donald D. Chamberlin, Raymond F. Boyce.</td>
<td>$84,793</td>
<td>Easy</td>
</tr>
<tr>
<td>10</td>
<td>Go</td>
<td>Robert Griesemer, Ken Thompson, Rob Pike.</td>
<td>$94,082</td>
<td>Difficult</td>
</tr>
</tbody>
</table>
<hr />
</body>
</html>

Create a soup object

In [25]:
#your code goes here
soup = BeautifulSoup(data,"html5lib")  # create a soup object using the variable 'data'

Scrape the `Language name` and `annual average salary`.

In [26]:
#your code goes here
#find a html table in the web page
table = soup.find('table') # in html table is represented by the tag <table>
for row in table.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    language = cols[1].getText() # store the value in column 2 as language
    annual_avg_salary = cols[3].getText() # store the value in column 4 as annual_avg_salary
    print("{}--->{}".format(language,annual_avg_salary))

Language--->Average Annual Salary
Python--->$114,383
Java--->$101,013
R--->$92,037
Javascript--->$110,981
Swift--->$130,801
C++--->$113,865
C#--->$88,726
PHP--->$84,727
SQL--->$84,793
Go--->$94,082

In [27]:
#OR other layout of print

In [28]:
#your code goes here
#find a html table in the web page
table = soup.find('table') # in html table is represented by the tag <table>
for row in table.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    language = cols[1].getText() # store the value in column 2 as language
    annual_avg_salary = cols[3].getText() # store the value in column 4 as annual_avg_salary
    print(language,"-", annual_avg_salary)

Language - Average Annual Salary
Python - $114,383
Java - $101,013
R - $92,037
Javascript - $110,981
Swift - $130,801
C++ - $113,865
C# - $88,726
PHP - $84,727
SQL - $84,793
Go - $94,082

In [29]:
import pandas as pd
table_rows = table.find_all('tr')
l = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    l.append(row)
df=pd.DataFrame(l)
df

,0,1,2,3,4
0,No.,Language,Created By,Average Annual Salary,Learning Difficulty
1,1,Python,Guido van Rossum,"$114,383",Easy
2,2,Java,James Gosling,"$101,013",Easy
3,3,R,"Robert Gentleman, Ross Ihaka","$92,037",Hard
4,4,Javascript,Netscape,"$110,981",Easy
5,5,Swift,Apple,"$130,801",Easy
6,6,C++,Bjarne Stroustrup,"$113,865",Hard
7,7,C#,Microsoft,"$88,726",Hard
8,8,PHP,Rasmus Lerdorf,"$84,727",Easy
9,9,SQL,"Donald D. Chamberlin, Raymond F. Boyce.","$84,793",Easy
10,10,Go,"Robert Griesemer, Ken Thompson, Rob Pike.","$94,082",Difficult

In [30]:
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header
df

,No.,Language,Created By,Average Annual Salary,Learning Difficulty
1,1,Python,Guido van Rossum,"$114,383",Easy
2,2,Java,James Gosling,"$101,013",Easy
3,3,R,"Robert Gentleman, Ross Ihaka","$92,037",Hard
4,4,Javascript,Netscape,"$110,981",Easy
5,5,Swift,Apple,"$130,801",Easy
6,6,C++,Bjarne Stroustrup,"$113,865",Hard
7,7,C#,Microsoft,"$88,726",Hard
8,8,PHP,Rasmus Lerdorf,"$84,727",Easy
9,9,SQL,"Donald D. Chamberlin, Raymond F. Boyce.","$84,793",Easy
10,10,Go,"Robert Griesemer, Ken Thompson, Rob Pike.","$94,082",Difficult

Save the scrapped data into a file named _popular-languages.csv_

In [32]:
# your code goes here
df.to_csv('popular-languages.csv', index = False, header=True)

In [34]:
## you have to find out how to store locally - wrong code line below

# df.to_csv('/Users/MacbookTT/popular-languages2.csv', index = False, header=True)

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).