<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [3]:
# your code goes here

# Selecting duplicate rows except first 
# occurrence based on all columns
duplicate = df[df.duplicated()]
  
print("Duplicate Rows :")
  
# Print the resultant Dataframe
duplicate

Duplicate Rows :

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
1168,2339,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1169,2342,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,Some college/university study without earning ...,"Information systems, information technology, o...",...,Somewhat more welcome now than last year,Tech meetups or events in your area;Courses on...,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Easy
1170,2343,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Canada,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,27.0,Man,No,Straight / Heterosexual,Black or of African descent;White or of Europe...,No,Appropriate in length,Neither easy nor difficult
1171,2344,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1172,2347,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,NaN,Woman,No,Straight / Heterosexual,Biracial,No,Too long,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2297,4674,"I am not primarily a developer, but I write co...",Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Bangladesh,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,31.0,Man,No,Bisexual;Gay or Lesbian;Straight / Heterosexual,Black or of African descent;Hispanic or Latino...,Yes,Too long,Neither easy nor difficult
2298,4675,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech meetups or events in your area,27.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
2299,4676,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Finland,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Another engineering discipline (ex. civil, ele...",...,Somewhat less welcome now than last year,NaN,36.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
2300,4677,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United Kingdom,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...",...,Just as welcome now as I felt last year,NaN,40.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
2301,4679,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,27.0,Man,No,NaN,White or of European descent,No,Appropriate in length,Easy

In [4]:
#Duplicats in column respondent
duplicate_respondent=df.duplicated(subset=['Respondent'])

In [5]:
duplicate_respondent.value_counts()

False    11398
True       154
dtype: int64

In [6]:
df.duplicated(keep='first').sum()

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [7]:
# your code goes here
df1=df.drop_duplicates() #creats new dataframe df1 without duplicates

In [9]:
df1.duplicated(keep='first').sum()

0

In [8]:
df1.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

Verify if duplicates were actually dropped.

In [10]:
# your code goes here
df.info() #value is 11552 entries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11552 entries, 0 to 11551
Data columns (total 85 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Respondent              11552 non-null  int64
 1   MainBranch              11552 non-null  object
 2   Hobbyist                11552 non-null  object
 3   OpenSourcer             11552 non-null  object
 4   OpenSource              11471 non-null  object
 5   Employment              11552 non-null  object
 6   Country                 11552 non-null  object
 7   Student                 11499 non-null  object
 8   EdLevel                 11436 non-null  object
 9   UndergradMajor          10812 non-null  object
 10  EduOther                11388 non-null  object
 11  OrgSize                 11454 non-null  object
 12  DevType                 11485 non-null  object
 13  YearsCode               11543 non-null  object
 14  Age1stCode              11539 non-null  object
 15  YearsCodePro            11536 non-null  object
 16  CareerSat               11552 non-null  object
 17  JobSat                  11551 non-null  object
 18  MgrIdiot                11054 non-null  object
 19  MgrMoney                11050 non-null  object
 20  MgrWant                 11054 non-null  object
 21  JobSeek                 11552 non-null  object
 22  LastHireDate            11552 non-null  object
 23  LastInt                 11129 non-null  object
 24  FizzBuzz                11515 non-null  object
 25  JobFactors              11549 non-null  object
 26  ResumeUpdate            11511 non-null  object
 27  CurrencySymbol          11552 non-null  object
 28  CurrencyDesc            11552 non-null  object
 29  CompTotal               10737 non-null  float64
 30  CompFreq                11346 non-null  object
 31  ConvertedComp           10730 non-null  float64
 32  WorkWeekHrs             11427 non-null  float64
 33  WorkPlan                11429 non-null  object
 34  WorkChallenge           11384 non-null  object
 35  WorkRemote              11544 non-null  object
 36  WorkLoc                 11520 non-null  object
 37  ImpSyn                  11547 non-null  object
 38  CodeRev                 11551 non-null  object
 39  CodeRevHrs              9083 non-null   float64
 40  UnitTests               11523 non-null  object
 41  PurchaseHow             11354 non-null  object
 42  PurchaseWhat            11514 non-null  object
 43  LanguageWorkedWith      11541 non-null  object
 44  LanguageDesireNextYear  11415 non-null  object
 45  DatabaseWorkedWith      11096 non-null  object
 46  DatabaseDesireNextYear  10497 non-null  object
 47  PlatformWorkedWith      11130 non-null  object
 48  PlatformDesireNextYear  10991 non-null  object
 49  WebFrameWorkedWith      10139 non-null  object
 50  WebFrameDesireNextYear  9918 non-null   object
 51  MiscTechWorkedWith      9343 non-null   object
 52  MiscTechDesireNextYear  10078 non-null  object
 53  DevEnviron              11523 non-null  object
 54  OpSys                   11518 non-null  object
 55  Containers              11470 non-null  object
 56  BlockchainOrg           9198 non-null   object
 57  BlockchainIs            8915 non-null   object
 58  BetterLife              11452 non-null  object
 59  ITperson                11517 non-null  object
 60  OffOn                   11514 non-null  object
 61  SocialMedia             11251 non-null  object
 62  Extraversion            11532 non-null  object
 63  ScreenName              11039 non-null  object
 64  SOVisit1st              11227 non-null  object
 65  SOVisitFreq             11547 non-null  object
 66  SOVisitTo               11551 non-null  object
 67  SOFindAnswer            11549 non-null  object
 68  SOTimeSaved             11501 non-null  object
 69  SOHowMuchTime           9616 non-null   object
 70  SOAccount               11551 non-null  object
 71  SOPartFreq              10404 non-null  object
 72  SOJobs                  11546 non-null  object
 73  EntTeams                11547 non-null  object
 74  SOComm                  11552 non-null  object
 75  WelcomeChange           11463 non-null  object
 76  SONewContent            9557 non-null   object
 77  Age                     11255 non-null  float64
 78  Gender                  11477 non-null  object
 79  Trans                   11429 non-null  object
 80  Sexuality               11005 non-null  object
 81  Ethnicity               10869 non-null  object
 82  Dependents              11408 non-null  object
 83  SurveyLength            11533 non-null  object
 84  SurveyEase              11538 non-null  object
dtypes: float64(5), int64(1), object(79)
memory usage: 7.5+ MB

In [10]:
df1.info() #value is 11398 entries (check above) - from question above there were 154 duplicate rows i.e. 11552 = 11398 + 154

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11398 entries, 0 to 11551
Data columns (total 85 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Respondent              11398 non-null  int64
 1   MainBranch              11398 non-null  object
 2   Hobbyist                11398 non-null  object
 3   OpenSourcer             11398 non-null  object
 4   OpenSource              11317 non-null  object
 5   Employment              11398 non-null  object
 6   Country                 11398 non-null  object
 7   Student                 11347 non-null  object
 8   EdLevel                 11286 non-null  object
 9   UndergradMajor          10661 non-null  object
 10  EduOther                11234 non-null  object
 11  OrgSize                 11302 non-null  object
 12  DevType                 11333 non-null  object
 13  YearsCode               11389 non-null  object
 14  Age1stCode              11385 non-null  object
 15  YearsCodePro            11382 non-null  object
 16  CareerSat               11398 non-null  object
 17  JobSat                  11397 non-null  object
 18  MgrIdiot                10905 non-null  object
 19  MgrMoney                10901 non-null  object
 20  MgrWant                 10905 non-null  object
 21  JobSeek                 11398 non-null  object
 22  LastHireDate            11398 non-null  object
 23  LastInt                 10985 non-null  object
 24  FizzBuzz                11361 non-null  object
 25  JobFactors              11395 non-null  object
 26  ResumeUpdate            11359 non-null  object
 27  CurrencySymbol          11398 non-null  object
 28  CurrencyDesc            11398 non-null  object
 29  CompTotal               10589 non-null  float64
 30  CompFreq                11192 non-null  object
 31  ConvertedComp           10582 non-null  float64
 32  WorkWeekHrs             11276 non-null  float64
 33  WorkPlan                11277 non-null  object
 34  WorkChallenge           11234 non-null  object
 35  WorkRemote              11390 non-null  object
 36  WorkLoc                 11366 non-null  object
 37  ImpSyn                  11393 non-null  object
 38  CodeRev                 11397 non-null  object
 39  CodeRevHrs              8972 non-null   float64
 40  UnitTests               11369 non-null  object
 41  PurchaseHow             11202 non-null  object
 42  PurchaseWhat            11360 non-null  object
 43  LanguageWorkedWith      11387 non-null  object
 44  LanguageDesireNextYear  11264 non-null  object
 45  DatabaseWorkedWith      10945 non-null  object
 46  DatabaseDesireNextYear  10356 non-null  object
 47  PlatformWorkedWith      10987 non-null  object
 48  PlatformDesireNextYear  10854 non-null  object
 49  WebFrameWorkedWith      10005 non-null  object
 50  WebFrameDesireNextYear  9781 non-null   object
 51  MiscTechWorkedWith      9216 non-null   object
 52  MiscTechDesireNextYear  9943 non-null   object
 53  DevEnviron              11369 non-null  object
 54  OpSys                   11364 non-null  object
 55  Containers              11316 non-null  object
 56  BlockchainOrg           9076 non-null   object
 57  BlockchainIs            8788 non-null   object
 58  BetterLife              11300 non-null  object
 59  ITperson                11363 non-null  object
 60  OffOn                   11360 non-null  object
 61  SocialMedia             11105 non-null  object
 62  Extraversion            11378 non-null  object
 63  ScreenName              10891 non-null  object
 64  SOVisit1st              11073 non-null  object
 65  SOVisitFreq             11393 non-null  object
 66  SOVisitTo               11397 non-null  object
 67  SOFindAnswer            11395 non-null  object
 68  SOTimeSaved             11348 non-null  object
 69  SOHowMuchTime           9481 non-null   object
 70  SOAccount               11397 non-null  object
 71  SOPartFreq              10270 non-null  object
 72  SOJobs                  11392 non-null  object
 73  EntTeams                11393 non-null  object
 74  SOComm                  11398 non-null  object
 75  WelcomeChange           11313 non-null  object
 76  SONewContent            9433 non-null   object
 77  Age                     11111 non-null  float64
 78  Gender                  11325 non-null  object
 79  Trans                   11275 non-null  object
 80  Sexuality               10856 non-null  object
 81  Ethnicity               10723 non-null  object
 82  Dependents              11258 non-null  object
 83  SurveyLength            11379 non-null  object
 84  SurveyEase              11384 non-null  object
dtypes: float64(5), int64(1), object(79)
memory usage: 7.5+ MB

In [16]:
# or compare sum of duplicates in original dataframe and df1 (after duplicates drop)
sum_dupl1=df1.duplicated(keep='first').sum()
sum_dupl=df.duplicated(keep='first').sum()
print("Sum of duplicates before drop:", sum_dupl, "versus some of duplicates after drop:", sum_dupl1)

Sum of duplicates before drop: 154 versus some of duplicates after drop: 0

## Finding Missing values

In [17]:
#MY WORK WITH SELECTING ROWS AND COLUMS FOR REVIEW

In [18]:
df.iloc[[0,3,9,15], [0,5,6]] # selecting df for review

    Respondent          Employment         Country
0            4  Employed full-time   United States
3           16  Employed full-time  United Kingdom
9           24  Employed full-time          Israel
15          39  Employed full-time   United States

In [19]:
df.iloc[0:5, 5:8] # first 5 rows and 5th, 6th, 7th columns of data frame

           Employment         Country Student
0  Employed full-time   United States      No
1  Employed full-time     New Zealand      No
2  Employed full-time   United States      No
3  Employed full-time  United Kingdom      No
4  Employed full-time       Australia      No

In [20]:
df.iloc[1:12, 15:30]

,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal
1,4,Slightly satisfied,Slightly satisfied,Somewhat confident,No,Not sure,"I’m not actively looking, but I am open to new...",Less than a year ago,Write any code;Interview with people in peer r...,Yes,Financial performance or funding status of the...,I was preparing for a job search,NZD,New Zealand dollar,138000.0
2,8,Very satisfied,Very satisfied,NaN,NaN,NaN,I am not interested in new job opportunities,3-4 years ago,Complete a take-home project;Interview with pe...,Yes,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,90000.0
3,3,Very satisfied,Slightly satisfied,Somewhat confident,No,No,"I’m not actively looking, but I am open to new...",3-4 years ago,Interview with people in senior / management r...,Yes,"Languages, frameworks, and other technologies ...",I heard about a job opportunity (from a recrui...,GBP,Pound sterling,29000.0
4,2,Slightly satisfied,Neither satisfied nor dissatisfied,Somewhat confident,No,No,I am actively looking for a job,Less than a year ago,Complete a take-home project;Interview with pe...,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,AUD,Australian dollar,90000.0
5,13,Very dissatisfied,Very satisfied,Very confident,No,No,"I’m not actively looking, but I am open to new...",Less than a year ago,Interview with people in senior / management r...,No,"Languages, frameworks, and other technologies ...","My job status changed (promotion, new job, etc.)",BRL,Brazilian real,9500.0
6,4,Very satisfied,Slightly dissatisfied,Very confident,No,I am already a manager,"I’m not actively looking, but I am open to new...",More than 4 years ago,Interview with people in peer roles;Interview ...,No,Remote work options;How widely used or impactf...,"My job status changed (promotion, new job, etc.)",EUR,European Euro,3000.0
7,18,Slightly satisfied,Very dissatisfied,Somewhat confident,No,No,"I’m not actively looking, but I am open to new...",More than 4 years ago,Interview with people in senior / management r...,No,Industry that I'd be working in;Financial perf...,I had a negative experience or interaction at ...,USD,United States dollar,103000.0
8,1,Slightly satisfied,Slightly satisfied,Very confident,No,Not sure,"I’m not actively looking, but I am open to new...",Less than a year ago,"Write any code;Write code by hand (e.g., on a ...",No,Opportunities for professional development;How...,I was preparing for a job search,USD,United States dollar,69000.0
9,1,Very satisfied,Very satisfied,Very confident,No,No,"I’m not actively looking, but I am open to new...",1-2 years ago,Write any code;Interview with people in peer r...,No,"Languages, frameworks, and other technologies ...",I heard about a job opportunity (from a recrui...,ILS,Israeli new shekel,8000.0
10,1,Very satisfied,Very satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,1-2 years ago,Interview with people in senior / management r...,No,Office environment or company culture;Remote w...,I was preparing for a job search,ZAR,South African rand,7000.0
11,8,Very satisfied,Very satisfied,NaN,NaN,NaN,"I’m not actively looking, but I am open to new...",Less than a year ago,Interview with people in peer roles;Interview ...,No,Remote work options;Diversity of the company o...,I was preparing for a job search,USD,United States dollar,114000.0

Find the missing values for all columns.

In [21]:
# your code goes here

In [22]:
missing_data = df.isnull()
missing_data.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [17]:
missing_data.iloc[1:12, 15:30]

,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,True,True,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,True,True,True,False,False,False,False,False,False,False,False,False

Count missing values in each column Using a for loop in Python, we can quickly figure out the number of missing values in each column. As mentioned above, "True" represents a missing value, "False" means the value is present in the dataset.
In the body of the for loop the method ".value_counts()" counts the number of "True" values.

In [18]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Respondent
False    11552
Name: Respondent, dtype: int64

MainBranch
False    11552
Name: MainBranch, dtype: int64

Hobbyist
False    11552
Name: Hobbyist, dtype: int64

OpenSourcer
False    11552
Name: OpenSourcer, dtype: int64

OpenSource
False    11471
True        81
Name: OpenSource, dtype: int64

Employment
False    11552
Name: Employment, dtype: int64

Country
False    11552
Name: Country, dtype: int64

Student
False    11499
True        53
Name: Student, dtype: int64

EdLevel
False    11436
True       116
Name: EdLevel, dtype: int64

UndergradMajor
False    10812
True       740
Name: UndergradMajor, dtype: int64

EduOther
False    11388
True       164
Name: EduOther, dtype: int64

OrgSize
False    11454
True        98
Name: OrgSize, dtype: int64

DevType
False    11485
True        67
Name: DevType, dtype: int64

YearsCode
False    11543
True         9
Name: YearsCode, dtype: int64

Age1stCode
False    11539
True        13
Name: Age1stCode, dtype: int64

YearsCodePro
False    11536
True        16
Name: YearsCodePro, dtype: int64

CareerSat
False    11552
Name: CareerSat, dtype: int64

JobSat
False    11551
True         1
Name: JobSat, dtype: int64

MgrIdiot
False    11054
True       498
Name: MgrIdiot, dtype: int64

MgrMoney
False    11050
True       502
Name: MgrMoney, dtype: int64

MgrWant
False    11054
True       498
Name: MgrWant, dtype: int64

JobSeek
False    11552
Name: JobSeek, dtype: int64

LastHireDate
False    11552
Name: LastHireDate, dtype: int64

LastInt
False    11129
True       423
Name: LastInt, dtype: int64

FizzBuzz
False    11515
True        37
Name: FizzBuzz, dtype: int64

JobFactors
False    11549
True         3
Name: JobFactors, dtype: int64

ResumeUpdate
False    11511
True        41
Name: ResumeUpdate, dtype: int64

CurrencySymbol
False    11552
Name: CurrencySymbol, dtype: int64

CurrencyDesc
False    11552
Name: CurrencyDesc, dtype: int64

CompTotal
False    10737
True       815
Name: CompTotal, dtype: int64

CompFreq
False    11346
True       206
Name: CompFreq, dtype: int64

ConvertedComp
False    10730
True       822
Name: ConvertedComp, dtype: int64

WorkWeekHrs
False    11427
True       125
Name: WorkWeekHrs, dtype: int64

WorkPlan
False    11429
True       123
Name: WorkPlan, dtype: int64

WorkChallenge
False    11384
True       168
Name: WorkChallenge, dtype: int64

WorkRemote
False    11544
True         8
Name: WorkRemote, dtype: int64

WorkLoc
False    11520
True        32
Name: WorkLoc, dtype: int64

ImpSyn
False    11547
True         5
Name: ImpSyn, dtype: int64

CodeRev
False    11551
True         1
Name: CodeRev, dtype: int64

CodeRevHrs
False    9083
True     2469
Name: CodeRevHrs, dtype: int64

UnitTests
False    11523
True        29
Name: UnitTests, dtype: int64

PurchaseHow
False    11354
True       198
Name: PurchaseHow, dtype: int64

PurchaseWhat
False    11514
True        38
Name: PurchaseWhat, dtype: int64

LanguageWorkedWith
False    11541
True        11
Name: LanguageWorkedWith, dtype: int64

LanguageDesireNextYear
False    11415
True       137
Name: LanguageDesireNextYear, dtype: int64

DatabaseWorkedWith
False    11096
True       456
Name: DatabaseWorkedWith, dtype: int64

DatabaseDesireNextYear
False    10497
True      1055
Name: DatabaseDesireNextYear, dtype: int64

PlatformWorkedWith
False    11130
True       422
Name: PlatformWorkedWith, dtype: int64

PlatformDesireNextYear
False    10991
True       561
Name: PlatformDesireNextYear, dtype: int64

WebFrameWorkedWith
False    10139
True      1413
Name: WebFrameWorkedWith, dtype: int64

WebFrameDesireNextYear
False    9918
True     1634
Name: WebFrameDesireNextYear, dtype: int64

MiscTechWorkedWith
False    9343
True     2209
Name: MiscTechWorkedWith, dtype: int64

MiscTechDesireNextYear
False    10078
True      1474
Name: MiscTechDesireNextYear, dtype: int64

DevEnviron
False    11523
True        29
Name: DevEnviron, dtype: int64

OpSys
False    11518
True        34
Name: OpSys, dtype: int64

Containers
False    11470
True        82
Name: Containers, dtype: int64

BlockchainOrg
False    9198
True     2354
Name: BlockchainOrg, dtype: int64

BlockchainIs
False    8915
True     2637
Name: BlockchainIs, dtype: int64

BetterLife
False    11452
True       100
Name: BetterLife, dtype: int64

ITperson
False    11517
True        35
Name: ITperson, dtype: int64

OffOn
False    11514
True        38
Name: OffOn, dtype: int64

SocialMedia
False    11251
True       301
Name: SocialMedia, dtype: int64

Extraversion
False    11532
True        20
Name: Extraversion, dtype: int64

ScreenName
False    11039
True       513
Name: ScreenName, dtype: int64

SOVisit1st
False    11227
True       325
Name: SOVisit1st, dtype: int64

SOVisitFreq
False    11547
True         5
Name: SOVisitFreq, dtype: int64

SOVisitTo
False    11551
True         1
Name: SOVisitTo, dtype: int64

SOFindAnswer
False    11549
True         3
Name: SOFindAnswer, dtype: int64

SOTimeSaved
False    11501
True        51
Name: SOTimeSaved, dtype: int64

SOHowMuchTime
False    9616
True     1936
Name: SOHowMuchTime, dtype: int64

SOAccount
False    11551
True         1
Name: SOAccount, dtype: int64

SOPartFreq
False    10404
True      1148
Name: SOPartFreq, dtype: int64

SOJobs
False    11546
True         6
Name: SOJobs, dtype: int64

EntTeams
False    11547
True         5
Name: EntTeams, dtype: int64

SOComm
False    11552
Name: SOComm, dtype: int64

WelcomeChange
False    11463
True        89
Name: WelcomeChange, dtype: int64

SONewContent
False    9557
True     1995
Name: SONewContent, dtype: int64

Age
False    11255
True       297
Name: Age, dtype: int64

Gender
False    11477
True        75
Name: Gender, dtype: int64

Trans
False    11429
True       123
Name: Trans, dtype: int64

Sexuality
False    11005
True       547
Name: Sexuality, dtype: int64

Ethnicity
False    10869
True       683
Name: Ethnicity, dtype: int64

Dependents
False    11408
True       144
Name: Dependents, dtype: int64

SurveyLength
False    11533
True        19
Name: SurveyLength, dtype: int64

SurveyEase
False    11538
True        14
Name: SurveyEase, dtype: int64

In [ ]:
#or other method

In [29]:
# Count total NaN at each column in DataFrame
print("Count of NaN by column")
print(df.isnull().sum())

Count of NaN by column
Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       547
Ethnicity       683
Dependents      144
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

In [30]:
# Count total NaN in DataFrame 
print('Count of total NaN in DataFrame',df.isnull().sum().sum())

Count of total NaN in DataFrame 31381

In [ ]:

# Finding Missing Values

Find out how many rows are missing in the column 'WorkLoc'

In [33]:
# your code goes here
missing_data['WorkLoc'].value_counts()

False    11520
True        32
Name: WorkLoc, dtype: int64

In [31]:
# or
print(df['WorkLoc'].isnull().sum())

32

In [35]:
######- ADDITIONAL QUESTION "Find out how many rows are missing in the column 'EdLevel' before droping duplicate rows"

missing_data_1= df.isnull()
rows_EdLevel=missing_data_1['EdLevel'].value_counts() 

rows_EdLevel

False    11436
True       116
Name: EdLevel, dtype: int64

In [36]:
#or

print(df['EdLevel'].isnull().sum())

116

In [44]:
######- ADDITIONAL QUESTION "Find out how many rows are missing in the column 'EdLevel' after droping duplicate rows"

missing_data_after_drop = df1.isnull()
rows_EdLevel_after_drop=missing_data_after_drop['EdLevel'].value_counts() 

rows_EdLevel_after_drop

False    11286
True       112
Name: EdLevel, dtype: int64

In [45]:
#EdLEvel missing value before duplicatedrop

print(df['EdLevel'].isnull().sum())

116

In [46]:
#EdLEvel missing value after duplicatedrop
print(df1['EdLevel'].isnull().sum())

112

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [47]:
# your code goes here

In [48]:
# for original dataframe
df['WorkLoc'].value_counts()

Office                                            6905
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: WorkLoc, dtype: int64

In [49]:
# for data frame after dropping duplicates (ref - missing_data_after_drop['WorkLoc'].value_counts() )
df1['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [50]:
#make a note of the majority value here, for future reference
# "Office"
worklock_major_value = df["WorkLoc"].mode()
print(worklock_major_value)

0    Office
dtype: object

In [51]:
worklock_major_value[0]

'Office'

In [52]:
#for questionaire ("Employment") - What is the majority category under the column Employment?
df["Employment"].mode()

0    Employed full-time
dtype: object

In [53]:
#Under the column " UndergradMajor", which category has the minimum number of rows?

df["UndergradMajor"].value_counts()

Computer science, computer engineering, or software engineering          7053
Information systems, information technology, or system administration     806
Another engineering discipline (ex. civil, electrical, mechanical)        769
Web development or web design                                             417
A natural science (ex. biology, chemistry, physics)                       409
Mathematics or statistics                                                 375
A business discipline (ex. accounting, finance, marketing)                247
A social science (ex. anthropology, psychology, political science)        212
A humanities discipline (ex. literature, history, philosophy)             209
Fine arts or performing arts (ex. graphic design, music, studio art)      165
I never declared a major                                                  126
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [55]:
# your code goes here
# Verify if there is no empty rows in the WorkLoc column

print(df['WorkLoc'].isnull().sum())

32

In [57]:
df.WorkLoc.value_counts()

Office                                            6905
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: WorkLoc, dtype: int64

In [59]:
# Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority

df_add_office=df["WorkLoc"].fillna("Office")

print(df_add_office.value_counts()) # 32 Office values have replaced NaN values in the WorkLoc column

Office                                            6937
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: WorkLoc, dtype: int64

In [61]:
#another method - using not string "Office" but variable instead (worklock_major_value[0])

df_workloc_after_nan_replace111 = df['WorkLoc'].fillna(worklock_major_value[0])
df_workloc_after_nan_replace111

0                                                  Home
1                                                Office
2                                                  Home
3                                                  Home
4        Other place, such as a coworking space or cafe
                              ...
11547                                              Home
11548                                              Home
11549                                            Office
11550                                              Home
11551                                            Office
Name: WorkLoc, Length: 11552, dtype: object

In [62]:
df_workloc_after_nan_replace111.value_counts()

Office                                            6937
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: WorkLoc, dtype: int64

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [31]:
# your code goes here

In [66]:
df_workloc_after_nan_replace111.isnull().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [34]:
# your code goes here
df[["CompFreq"]]

      CompFreq
0       Yearly
1       Yearly
2       Yearly
3      Monthly
4       Yearly
...        ...
11547   Yearly
11548   Yearly
11549   Yearly
11550   Yearly
11551      NaN

[11552 rows x 1 columns]

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

In [35]:
df["CompFreq"].value_counts()

Yearly     6163
Monthly    4846
Weekly      337
Name: CompFreq, dtype: int64

In [36]:
df[["CompTotal"]]

       CompTotal
0        61000.0
1       138000.0
2        90000.0
3        29000.0
4        90000.0
...          ...
11547   130000.0
11548    74400.0
11549   105000.0
11550    80000.0
11551        NaN

[11552 rows x 1 columns]

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [37]:
# your code goes here

In [69]:
df["CompFreq"]

0         Yearly
1         Yearly
2         Yearly
3        Monthly
4         Yearly
          ...
11547     Yearly
11548     Yearly
11549     Yearly
11550     Yearly
11551        NaN
Name: CompFreq, Length: 11552, dtype: object

In [70]:
df[["CompFreqManipulation"]]=df[["CompFreq"]].copy()

In [71]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,CompFreqManipulation
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,Yearly
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult,Yearly
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy,Yearly
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult,Monthly
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy,Yearly

In [72]:
df.loc[(df.CompFreqManipulation == 'Yearly'),"CompFreqManipulation"]=1
df["CompFreqManipulation"]

0              1
1              1
2              1
3        Monthly
4              1
          ...
11547          1
11548          1
11549          1
11550          1
11551        NaN
Name: CompFreqManipulation, Length: 11552, dtype: object

In [73]:
df.loc[(df.CompFreqManipulation == 'Monthly'),"CompFreqManipulation"]=12
df["CompFreqManipulation"]

0          1
1          1
2          1
3         12
4          1
        ...
11547      1
11548      1
11549      1
11550      1
11551    NaN
Name: CompFreqManipulation, Length: 11552, dtype: object

In [74]:
df.loc[(df.CompFreqManipulation == 'Weekly'),"CompFreqManipulation"]=52
df["CompFreqManipulation"]

0          1
1          1
2          1
3         12
4          1
        ...
11547      1
11548      1
11549      1
11550      1
11551    NaN
Name: CompFreqManipulation, Length: 11552, dtype: object

In [75]:
df["CompFreqManipulation"].value_counts()

1     6163
12    4846
52     337
Name: CompFreqManipulation, dtype: int64

In [76]:
df['NormalizedAnnualCompensation'] = df["CompFreqManipulation"] * df["CompTotal"]

In [77]:
df[['NormalizedAnnualCompensation']]

      NormalizedAnnualCompensation
0                            61000
1                           138000
2                            90000
3                           348000
4                            90000
...                            ...
11547                       130000
11548                        74400
11549                       105000
11550                        80000
11551                          NaN

[11552 rows x 1 columns]

In [78]:
df[['NormalizedAnnualCompensation']] .median()

NormalizedAnnualCompensation    100000.0
dtype: float64

In [79]:
df['NormalizedAnnualCompensation'] .median()

100000.0

In [80]:
df[['NormalizedAnnualCompensation']] .mean()

NormalizedAnnualCompensation    6.076494e+06
dtype: float64

In [81]:
df['NormalizedAnnualCompensation'] .mean()

6076493.933091044

In [82]:
df['NormalizedAnnualCompensation'] .max()

8400000000.0

In [83]:
df['NormalizedAnnualCompensation'] .min()

0.0

In [84]:
(df['NormalizedAnnualCompensation'] .max())/(df['NormalizedAnnualCompensation'] .median()) ###### max salary divided by median salary

84000.0

In [85]:
#Another method

In [87]:

df["CompFreq"].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

In [88]:
### df["CompFreq"].replace(to_replace="Yearly",value=1,inplace=True)
#df["CompFreq"].replace(to_replace="Monthly",value=12,inplace=True)
#df["CompFreq"].replace(to_replace="Weekly",value=52,inplace=True)
#df["CompFreq"].unique()
#df["CompFreq"].value_counts()

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).